<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="neo.photogridart">

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="com.samsung.android.providers.context.permission.WRITE_USE_APP_FEATURE_SURVEY" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <application
        android:name="neo.photogridart.AppCheck"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_main"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/logo_main_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="neo.photogridart.activities.PrivacyPolicy"
            android:exported="false"
            android:theme="@style/AppThemeone" />

        <activity
            android:name="neo.photogridart.mycreation.ImageDisplayActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="neo.photogridart.mycreation.MyCreationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="neo.photogridart.activities.CreateActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="neo.photogridart.activities.StartActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeone" />
        <activity
            android:name="neo.photogridart.activities.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="neo.photogridart.activities.MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name="neo.photogridart.activities.SaveImageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="neo.photogridart.collagelib.CollageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="neo.photogridart.activities.MirrorNewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />


        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

    </application>

</manifest>